.float-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 99;
}  
.float-button img {
  width: 50px;
  height: 50px;
}
.close__sidebar_movil {
  cursor: pointer;
  top: 20px;
  position: relative;
  left: 210px;
  width: 32px;
  z-index: 99;
  display:none;
}
.close__sidebar_movil i{
  font-size: 30px;
}
.sidebar .sidebar-wrapper {
  padding-bottom: 260px;
}
@media only screen and (max-width: 991px){
  .close__sidebar_movil{
    display: block;
  }
}
@media (max-width: 991px){
  .navbar-form .btn {
    position: initial;
    top: -5px;
    right: -50px;
  }
}
button.btn.btn-refresh.btn-facebook {
  padding: 0.46875rem 1rem;
}